<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />
  
<div class="navbar navbar-fixed-top pl-5">
    <div class="navbar-header pull-left">
        <a class="navbar-brand" routerLink="/"><i class="fas fa-user"></i></a>
        <button type="button" class="btn btn-default navbar-btn font-20 px-4"routerLink="/">Home</button>
      <button type="button" class="btn btn-default navbar-btn font-20 px-4"routerLink="/charts">Charts</button>
    </div>
</div>